////// base////// 
.l-wrap {
    margin: 0 auto;
    overflow: hidden;
}
a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    &:active {
        color: unset !important
    }
}
body {
    margin: 0 ;
}
ul {
    list-style-type: none;
}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

////// component//////
//header
.c-nav-logo {
    img {
        object-fit: contain;
        height: 60px;

        @media (max-width: 767px) {
            width: 90px;
        }
    }
}
.c-my-page-login {
    cursor: pointer;
    margin-left: 20px;

    @media (max-width: 767px) {
        margin-left: 5px;
    }
    img {
        object-fit: contain;
        height: 40px;
        @media (max-width: 767px) {
            width: 33px;
        }
    }
    span {
        display: block;
        font-size: 10px;
        &:hover {
            color: #2da559;
        }
    }
}

//banner
.c-link-bnr {
    padding: 0 100px;
    height: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #deeae2;
    color: #2da559;
    @media (max-width: 767px) {
        padding: 0 20px;
        flex-direction: column;
        justify-content: space-evenly;
    }
    &-copy {
        font-size: 50px;
        font-weight: 900;
        @media (max-width: 767px) {
            font-size: 30px;
        }
    }
    &-txt {
        margin: 20px 0 0 0;
        font-size: 15px;
        line-height: 2;
    }
}
#banner-1 {
    background-image: url("../images/banner1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    @media (max-width: 767px) {
        background-image: none;
    }
}
#banner-2 {
    background-image: url("../images/banner2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @media (max-width: 767px) {
        background-image: none;
    }
}

.c-title {
    padding: 0 60px;
    font-size: 50px;
    font-weight: 900;
    color: #2da559;
    @media (max-width: 767px) {
        font-size: 45px;
        padding: 0 30px;
    }
    span {
        display: block;
        font-size: 26px;
        font-weight: 900;
        color: black;
        @media (max-width: 767px) {
            font-size: 15px;
        }
    }
}

// button
.c-link-btn {
    width: fit-content;
    margin: 60px auto;
    padding: 1rem 4rem;
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: #2da559;
    border-bottom: 5px solid #217d43;
    transition: color 0.3s; 
    @media (max-width: 767px) {
        padding: 1rem 2rem;
    }
    &-txt {
        display: flex;
        align-items: center;
        color: white;
        span {
            margin-right: 30px;
            font-size: 18px;
            color: white;
            @media (max-width: 767px) {
                font-size: 15px;
            }
        }
    }
}
.c-link-btn:hover {
    margin-top: 62px;
    background: #2da559;
    border-bottom: 3px solid #217d43;
}

.c-link-btn-price {
    &-notice {
        margin-top: 0;
        font-weight: 600;
    }
    width: fit-content;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 1rem 4rem;
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: white;
    border-bottom: 5px solid #b9b9b9;
    &-txt {
        color: #000;
        margin: 15px 30px;
        span {
            font-size: 20px;
            font-weight: 600;
            color: white;
        }
    }
}
.c-link-btn-price:hover {
    margin-top: 18px;
    background: white;
    border-bottom: 3px solid #b9b9b9;
}


////// header//////
// header nav
.l-header {
    height: 90px;
    border-bottom: 1px solid black;
    display: flex;
    @media (max-width: 767px) {
        height: 60px;
    }
    &-nav {
        width: 100%;
        padding: 10px 310px 10px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 767px) {
            padding: 7px;
        }
    }

    &-logo {
        display: flex;
    }

    &-nav-li {
        margin: 0;
        display: flex;
        align-items: center;
        font-size: 14px;
        @media (max-width: 767px) {
            display: none;
        }

        &-item {
            margin-right: 10px;

            a {
                cursor: pointer;
                position: relative;
                display: inline-block;
                -webkit-perspective: 1000px;
                perspective: 1000px;
                -webkit-perspective-origin: 50% 50%;
                perspective-origin: 50% 50%;
                vertical-align: bottom;
                overflow: hidden;

                span {
                    display: inline-block;
                    position: relative;
                    transition: .4s;
                    -webkit-transform-origin: 50% 0%;
                    transform-origin: 50% 0%;
                    -webkit-transform-style: preserve-3d;
                    transform-style: preserve-3d;
                }
            }

            &-btn {
                margin-right: 10px;
                border: 1px solid black; 
                padding: 10px 20px; 
                text-decoration: none;
                border-radius: 30px;
            }
        }
    }
}

.l-header-nav-li-item {
    a {
        span {
            &:hover {
                -webkit-transform: translate3d(0, 0, -30px) rotateX(90deg);
                transform: translate3d(0, 0, -30px) rotateX(90deg);
            }
            &::after {
                display: inline-block;
                position: absolute;
                left: 0;
                top: 0;
                content: attr(data-text);
                -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
                -webkit-transform: translate3d(0, 105%, 0) rotateX(-90deg);
                transform: translate3d(0, 105%, 0) rotateX(-90deg);
            }
        }
    }
}


.l-nav-more {
    z-index: 9999999999;
    top: 0px;
    right: 0px;
    height: 90px;
    position: fixed;
    display: flex;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    @media (max-width: 767px) {
        height: 60px;
    }
    &-price {
        width: 220px;
        padding: 30px 0;
        text-align: center;
        background-color: #2da559;
        a {
            color: white;
        }
        @media (max-width: 767px) {
            padding: 7px;
            width: 105px;
            font-size: 14px;
        }
    }
    &-menu {
        width: 90px;
        height: 90px;
        flex-direction: column;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid black;
        background-color: white;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        &:hover{
            span {
                width: 45px;
                border: 1px solid black;
                border-radius: 0;
            }
        }
        span {
            transition: all cubic-bezier(0.34,1.56,0.64,1) .3s;
            margin-bottom: 10px;
            display: inline-block;
            line-height: 1;
            width: 0.2em;
            height: 0.2em;
            background: currentColor;
            border-radius: 50%;
        }
        & span:last-child {
            margin-bottom: 0;
        }
        @media (max-width: 767px) {
            height: 60px;
            width: 60px;
        }
    }
}

//l-menu
.l-menu {
    display: none;
    z-index: 999999999;

    &-active {
        display: block;
        position: fixed;
        inset: 0;
        width: 100vw;
        min-height: 100vh;
    }
    &-footer {
        padding-top: 85px;
        line-height: 41px;
    }
    
    &-btn {
        display: none;
        @media (max-width: 767px) {
            display: unset;
            margin: 0 10px 0 20px;
        }
    }
    &-header {
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
    }
}

////// hero//////
.l-hero-carousel {
    display: flex; 
    overflow: hidden; 
    margin: 0 auto; 
    width: 100vw;
    @media (max-width: 767px) {
        height: 580px;
    }
    img {
        width: 100vw;
        object-fit: fill;
        margin: 0;
        padding: 0;
        display: block;
        @media (max-width: 767px) {
            object-fit: cover;
        }
    }
}
@keyframes scroll {
    0% { margin-left: 0; }
    12% { margin-left: -100vw; }
    45% { margin-left: -200vw; }    
    78% { margin-left: -300vw; }
    100% { margin-left: -400vw; }
}
.l-hero-carousel> :first-child {
    animation-name: scroll;
    animation-duration: 20s;
    animation-delay: 0s; 
    animation-iteration-count: infinite;
}

////// point//////
.l-hero-point {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid black;
    @media (max-width: 767px) {
        display: block;
        text-align: center;
    }
    &-copy {
        font-size: 26px;
        font-weight: 900;
        span {
            text-decoration: underline;
            text-decoration-thickness: 3px;
            text-underline-offset: 6px;
        }
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }
    &-items {
        display: flex;

        @media (max-width: 767px) {
            display: block;
        }
    }
    &-item {
        margin-left: 10px;
        display: flex;
        align-items: center;

        @media (max-width: 767px) {
            display: block;
        }
        img {
            margin-right: 10px;
            object-fit: contain;
            height: 120px;
            width: 120px;
        }
        &-txt {
            span {
                color: #2da559;
                font-weight: 600;
            }
            p {
                margin: 0;
                font-size: 20px;
                font-weight: 600;
            }
        }
    }
}

////// news//////
/// 
@keyframes newsSlideIn {
    from {
        transform: translateY(200%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes newsSlideOut {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-200%);
    }
}

.l-news {
    background-color: #f2f2f2;
    padding: 60px;
    @media (max-width: 767px) {
        padding: 20px;
    }
    &-btn {
        width: fit-content;
        border: 1px solid black; 
        padding: 6px 12px; 
        text-decoration: none;
        border-radius: 30px;
        font-size: 14px;
        margin-left: auto;
    }
    &-container {
        margin-top: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        overflow: hidden;
        @media (max-width: 767px) {
            display: block;
            height: 150px;
        }
    }
    &-ttl {
        font-size: 26px;
        font-weight: 900;
    }
    &-article {
        margin-left: 90px;
        display: flex;
        font-weight: 900;
        font-size: 20px;
        @media (max-width: 767px) {
            margin: 0;
        }
        &-slide {
            display: flex;
            transition: color 0.3s; 
            animation: newsSlideIn linear;
            animation-duration: 1s;
            @media (max-width: 767px) {
                display: block;
            }

            &-block {
                display: block;
                * {
                    display: table-cell;
                }
            }
            &-txt {
                margin-left: 25px;
                @media (max-width: 767px) {
                    margin: 0;
                }
            }
            &-more {
                height: 24px;
                width: 24px;
                &::after{
                    content: "";
                    margin-left: 2em;
                    height: 24px;
                    width: 24px;
                    mask: center/contain no-repeat;
                    mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48IS0tIUZvbnQgQXdlc29tZSBGcmVlIDYuNS4xIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlL2ZyZWUgQ29weXJpZ2h0IDIwMjQgRm9udGljb25zLCBJbmMuLS0+PHBhdGggZD0iTTQzOC42IDI3OC42YzEyLjUtMTIuNSAxMi41LTMyLjggMC00NS4zbC0xNjAtMTYwYy0xMi41LTEyLjUtMzIuOC0xMi41LTQ1LjMgMHMtMTIuNSAzMi44IDAgNDUuM0wzMzguOCAyMjQgMzIgMjI0Yy0xNy43IDAtMzIgMTQuMy0zMiAzMnMxNC4zIDMyIDMyIDMybDMwNi43IDBMMjMzLjQgMzkzLjRjLTEyLjUgMTIuNS0xMi41IDMyLjggMCA0NS4zczMyLjggMTIuNSA0NS4zIDBsMTYwLTE2MHoiLz48L3N2Zz4=");
                    background-color: black;
                    display: block;
                    transition: all 0.3s;
                }
            }
        }
        &:hover .l-news-article-slide-more::after {
            background-color: #2da559;
        }
        &:hover .l-news-article-slide {
            color: #2da559;
        }
        &:hover .l-news-article-slide-more {
            stroke: #2da559 !important;
            fill: #2da559 !important;
        }
    }
    &-page {
        margin-left: auto;
        font-weight: 900;
    }
}


////// problem//////
.l-problem {
    outline: 1px solid  rgb(137, 137, 137); 
    outline-offset: -1px;
    position: relative;
    &-container {
        display: grid;
        grid-template-columns: repeat(3, calc(100vw / 3));
        grid-auto-rows: 430px;
        @media (max-width: 767px) {
            display: block;
            height: 500px;
            overflow-y: auto;
        }
    }
    &-col {
        padding: 40px 0;
        text-align: center;
        border: 1px dashed rgb(137, 137, 137); 
        @media (max-width: 767px) {
            position: sticky;
            top: 0;
            height: 500px;
            width: 100%;
            background-color: white;
        }
        &-txt {
            text-align: center;
            line-height: 2;
            font-weight: 600;
        }
        &:first-child .l-problem-col-txt {
            margin-left: 40px;
            text-align: left;
            font-size: 26px;
            font-weight: 900;
            line-height: 2;
            color: #2da559;
        }
        &-img {
            img {
                object-fit: contain;
                height: 300px;
            }
        }
    }
}

////// service//////
.l-service {
    margin-top: 100px;
    &-container {
        margin-top: 30px;
        outline: 1px solid rgb(137, 137, 137);
        outline-offset: -1px;
        display: grid;
        grid-template-columns: repeat(5, calc(100vw / 5));
        grid-auto-rows: 250px;
        @media (max-width: 767px) {
            grid-template-columns: repeat(2, 50vw);
            grid-auto-rows: 17.3vh;
            outline: none;
        }
    }
    &-col {
        padding: 20px 0;
        text-align: center;
        border: 1px dashed rgb(137, 137, 137); 
        @media (max-width: 767px) {
            padding: 10px 0;
            border: none;
        }
        &-icon {
            img {
                height: 150px;
                @media (max-width: 767px) {
                    height: 120px;
                }
            }
        }
        &-txt {
            @media (max-width: 767px) {
                font-size: 12px;
            }
        }
    }
}

////// feature//////
.l-feature {
    margin-top: 100px;
    &-container {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2, calc(100vw / 2));
        @media (max-width: 767px) {
            display: block;
        }
    }
    &-col {
        min-height: 650px;
        position: relative;
        padding-left: 50px;
        @media (max-width: 767px) {
            padding-left: 20px;
            min-height: 487px;
            margin-top: 30px;
        }
        &-num {
            font-size: 8rem;
            font-weight: 900;
            color: #2da559;
            @media (max-width: 767px) {
                font-size: 4rem;
            }
        }
        &-img {
            img {
                margin-left: 20px;
                height: 444px;
                width: 444px;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 20%;

                animation: loaded 1.3s cubic-bezier(0.19,1,0.22,1) 1s both;

                @media (max-width: 767px) {
                    margin-left: 10px;
                    display: block;
                    height: 300px;
                    width: 300px;
                }
            }
        }
        &-txt {
            position: absolute;
            top: 60%;
            font-size: 44px;
            font-weight: 800;
            background-color: white;
            @media (max-width: 767px) {
                font-size: 30px;
                top: 53%;
            }
            p {
                margin: 20px 0 0 0;
                font-size: 15px;
            }
        }
    }
}

@keyframes loaded {
    0% {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    }
    100% {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    }
}

////// flow//////
.l-flow {
    margin-top: 60px;
    padding-top: 60px;
    border-top: 1px solid black;

    &-ttl {
        align-items: center;
    }
    &-container {
        margin: 60px;
        display: grid;
        grid-template-columns: repeat(4, calc(100% / 4));
        @media (max-width: 767px) {
            display: flex;
            margin: 20px;
            overflow-x: scroll;
        }
    }

    &-col {
        display: flex;
        &:first-child {
            display: block;
        }

        &-arrow {
            display: flex;
            align-items: center;
            img {
            height: 38px;
            width: 20px;
            }
        }
        &-inner {
            margin: 0 20px;
        }
        &-img {
            margin: 0 auto;
            height: 102px;
            object-fit: contain;
            width: 100%;
        }

        @media (max-width: 767px) {
            min-width: calc(100vw - 30%);
        }
    }
}

////// result//////
.l-result {
    margin-top: 60px;
    padding-top: 60px;
    &-container {
        gap: 50px;
        display: flex;
        padding-bottom: 30px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        position: relative;
    }
    &-parts {
        @media (max-width: 767px) {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 10px;
        }
    }
    &-btn {
        &-next {
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            height: 50px;
            width: 50px;
            margin-bottom: 10px;
            background-size: 50px;
            background-image: url(../images/icon/arrow-right-circle.svg);
            background-repeat: no-repeat;
            &:hover {
                transform: scale(1.4);
            }
        }
        &-prev {
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            height: 50px;
            width: 50px;
            margin-bottom: 10px;
            background-size: 50px;
            background-image: url(../images/icon/arrow-left-circle.svg);
            background-repeat: no-repeat;
            &:hover {
                transform: scale(1.4);
            }
        }
    }
    &-page {
        font-size: 26px;
        display: inline-block;
    }
    &-col {
        width: 365px;
        max-width: 365px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        @media (max-width: 767px) {
            padding-bottom: 100px;
        }

        &:hover a {
            color: #2da559;
        }
        &:hover .l-result-col-ttl::before {
            background-color: #2da559;
        }

        &:first-child {
            cursor: unset;
            position: absolute;
            height: 100%;
            width: 200px;
            background-color: white;
            border-right: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 6em;

            @media (max-width: 767px) {
                height: 100px;
                width: 100vw;
                max-width: 100vw;
                padding-bottom: 0;
                border: 1px solid black;
                align-items: center;
                bottom: 0;
            }
        }
        &-date {
            margin: 20px 20px 0 0;
            @media (max-width: 767px) {
                margin: 10px 10px 0 10px;
            }
        }
        &-top {
            display: flex;
            img {
                height: 500px;
                width: 300px;
                object-fit: cover;
            }
        }
        &-arrow {
            height: 20px;
        }
        &-ttl {
            margin-top: 40px;
            font-weight: 600;
            font-size: 20px;
            transition: all 0.3s;
            &::before{
                content: "";
                height: 20px;
                width: 20px;
                mask: center/contain no-repeat;
                mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48IS0tIUZvbnQgQXdlc29tZSBGcmVlIDYuNS4xIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlL2ZyZWUgQ29weXJpZ2h0IDIwMjQgRm9udGljb25zLCBJbmMuLS0+PHBhdGggZD0iTTQzOC42IDI3OC42YzEyLjUtMTIuNSAxMi41LTMyLjggMC00NS4zbC0xNjAtMTYwYy0xMi41LTEyLjUtMzIuOC0xMi41LTQ1LjMgMHMtMTIuNSAzMi44IDAgNDUuM0wzMzguOCAyMjQgMzIgMjI0Yy0xNy43IDAtMzIgMTQuMy0zMiAzMnMxNC4zIDMyIDMyIDMybDMwNi43IDBMMjMzLjQgMzkzLjRjLTEyLjUgMTIuNS0xMi41IDMyLjggMCA0NS4zczMyLjggMTIuNSA0NS4zIDBsMTYwLTE2MHoiLz48L3N2Zz4=");
                background-color: black;
                display: inline-block;

                transition: all 0.3s;
            }
        }
        &-txt {
            margin-top: 20px;
            width: 80%;
            float: right;
        }
    }
}

////// copy//////
.p-copy {
    &-lead {
        font-size: 140px;
        font-weight: 900;
        width: max-content;
        transition: all ease-in-out;
        @media (max-width: 767px) {
            font-size: 92px;
        }
    }
    &-txt {
        margin: 40px 0 100px 80px;
        font-size: 25px;
        font-weight: 600;
    }
}


////// footer//////
.l-footer {
    background-color: #f2f2f2;
    height: 100%;
    &-menu {
        display: flex;

        @media (max-width: 767px) {
            flex-direction: column;
        }

        &-col {
            padding: 60px 0 0 90px;

            @media (max-width: 767px) {
                padding: 2em 0 0 0;
                margin: 0 2em;
            }
            min-width: calc(100% / 4);
            &-ttl {
                span {
                    color: #7d7c7c;
                }
                @media (max-width: 767px) {
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    transform: translateZ(0);
                    transition: all 0.3s;
                    &::after,
                    &::before {
                        content: "";
                        position: absolute;
                        right: 1.25em;
                        top: 1.25em;
                        width: 2px;
                        height: 0.75em;
                        background-color: #999;
                        transition: all 0.3s;
                    }
                    &::after {
                        transform: rotate(90deg);
                    }
                }
            }
            &-top {
                display: flex;
                align-items: center;
                font-size: 30px;
                &-arrow {
                    position: absolute;
                    transform: translateX(-30px);
                    @media (max-width: 767px) {
                        display: none;
                    }
                }
            }
            &-li {
                line-height: 2;
                margin: 0;
                padding: 0;
                -webkit-padding-start: 0;
                &-item {
                    margin-bottom:10px;
                    overflow: hidden;
                }
                &-sub {
                    padding: 0;
                }
                @media (max-width: 767px) {
                    transition: all 0.3s;
                    max-height: 0;
                    overflow: hidden;
                }

                &-active {
                    max-height: unset !important;
                }
            }
        }
    }
}
.toggle {
    display: none;
}
.toggle:checked + .l-footer-menu-col-top-arrow {
    background-color: red;
}
/// 
.p-footer {
    display: flex;
    background-color: #f2f2f2;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 60px;
    @media (max-width: 767px) {
        padding: 20px;
    }
    &-logo img {
        width: 65%;
        @media (max-width: 767px) {
            width: 71px;
        }
    }
    &-item {
        display: flex;
        gap: 3em;   
        align-items: center;
    }
    &-icon {
        height: 24px;
        width: 24px;
        transition: opacity 0.3s ease-in-out;
        cursor: pointer;

        img {
            width: 100%;
        }
        &:hover {
            opacity: 0.6;
        }

        &-list {
            display: flex;
            flex-direction: row;
            gap: 1em;
        }
    }
    small {
        font-weight: 600;
        display: flex;
        align-items: flex-end;
        @media (max-width: 767px) {
            margin-left: 10px;
        }
    }
}